*{
    margin: 0;
    padding: 0;
}

#search_item>input{
    width: 35vw;
    border: none;
    padding: 10px;
    background-color: transparent;
}

#search_item{
    border-radius: 15px !important;
}

#hero_sec{
display: flex;
justify-content: center;
}

#categories_Listing{
display: flex;
flex-wrap: wrap;
width: 85vw;
margin: auto;
justify-content: space-between;
}

.div-scroll{
width: 85vw;
margin: auto;
overflow: hidden;
}

.listing{
text-wrap: nowrap;
overflow-x: scroll;
width: 100%;
}

.my-card{
    width: 180px;
    margin-right: 20px;
    display: inline-block !important;
}

.my-card>img{
    margin: auto;
}

.time_display{
    font-size: 9px;
    background-color: rgb(248,248,248);
    font-weight: 800;
    width: fit-content;
    padding: 2px 5px;
    border-radius: 6px;
}

.prod_name{
    font-size: 14px;
    font-weight: 600;
}

.prod_weight{
    font-size: 14px;
    color: gray;
    margin-top: 5px;
}

.prod_price{
    margin: 0;
    padding: 0 !important;
    font-weight: 600;
}